<main class="container">
    <section class="main-page-container">
        <div class="personal-info">
            <img src="assets/person-photo.jpg" alt="Personal picture">
            <h1 id="nameInfo">{{userName}}</h1>
            <button id="settings">
                <img src="assets/button-settings.jpg" alt="Settings">
                <span class="tooltiptext">Settings</span>
            </button>
        </div>

        <input type="text" id="search-bar" placeholder="Search" [(ngModel)]="chatSearch">

        <div class="chat-history" *ngFor="let chat of chats">
            <ng-container *ngIf="chat.name.startsWith(chatSearch)">
                <div class="history-list" (click)="openChat(chat)">
                    <img src="assets/chat-icon.jpg" alt="Person icon" />
                    <a id="name" [title]="chat.name">{{ chat.name }}</a>
                </div>
            </ng-container>
        </div>
    </section>
    <button (click)="logout()">LOGOUT</button>
    <section class="chat-module">DIV</section>
    <!--<section class="chat-module-info">Chat info</section> -->
</main>