<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Instant messanger</title>
        <link rel="stylesheet" href="main-page.component.css" type='text/css'/> 
    </head>
    <body>
        <main class="container">
            <section class="main-page-container">
                <div class="personal-info">
                    <img src="person-photo.jpg" alt="Personal picture">
                    <h1 id="name">Person name</h1>
                    <button id="settings" type="button">
                        <img src="button-settings.jpg" alt="Settings">
                        <span class="tooltiptext">Settings</span>
                    </button>
                </div>
                <div class="main-search">
                    <input type="text" id="search-bar" placeholder="Search">
                    <button id="chat">
                        <img src="chat-button.jpg" alt="Chat">
                    </button>
                </div>
                <div class="chat-history">
                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person1</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person2</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person3</h2>
                    </div>

                    <div class ="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person4</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person5</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person6</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person7</h2>
                    </div>

                    <div class="history-list">
                        <img src="chat-icon.jpg" alt="Person icon">
                        <h2 id="name">Person8</h2>
                    </div>
                </div>
            </section>
           
            <section class="chat-module">Div</section>
            <section class="chat-module-info">Chat info</section>
        </main>
        <!--<script src="main-page.js"></script>-->
    </body>
</html>