body {
    display: grid;
    grid-template-columns: 17% 68% 13%;
    grid-template-rows: auto;
    grid-template-areas:
            "header1"  "header2"  "header3";
    padding-top: 0.05%;
    justify-content: space-evenly;
    background: -webkit-linear-gradient(right, #a2f2f1, #b19afe);
}

.main-page {
    grid-area: header1;
    align-self: flex-start;
    grid-template-rows: 20% 20% 40%;
    height: 41.875rem;
    padding-left: 5%;
    padding-top: 2%;
    border: 0.125rem solid rgba(61, 134, 128, 0.315);
    border-radius: 1%;
    background-color: transparent;
}

.personal-info {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
}

.personal-info img{
    align-self: flex-start;
    justify-self: space-around;
    border: 0.125rem solid #eaecfe;
    border-radius: 1.563rem;
    width: 90%;
    height: 90%;
}

.personal-info #name {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

#settings {
    background-color: initial;
    align-self: baseline;
    border-radius: 50%;
    width: 40%;
    cursor: pointer;
    border: none;
}

#settings img { 
    width: 160%;
    height: 150%;
}

.tooltiptext {
    visibility: hidden;
    width: 7%;
    color: rgb(19, 18, 18);
    background-color: #e7e6e9;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0.125rem solid #eaecfe;
    border-radius: 0.75rem;
    padding: 0.125rem 0;
    top: 50%;
    margin-left: 0.625rem;
  }
  
  #settings:hover .tooltiptext {
    visibility: visible;
  }

.main-search {
    display: flex;
    flex-direction: row;
    justify-items: start;
    padding-top: 10%;
}

#search-bar {
    text-align: left;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70%;
    border: 0.125rem solid #eaecfe;
    border-radius: 0.75rem;
}   

input::placeholder {
    font-size: 16px;
}

#chat {
    background-color: initial;
    align-self: baseline;
    width: 30%;
    cursor: pointer;
    border: none;
}

.main-search img{ 
    width: 70%;
    height: 40%;  
    justify-self: space-around; 
    border: 0.063rem solid #eaecfe;
    border-radius: 1.563rem;
}

.chat-history {
    display: grid;
    grid-template-rows: repeat(20%);
    grid-row-gap: 5%;
    padding-top: 5%;
    padding-right: 3%;
}

.history-list{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: initial;
    cursor: pointer;
    border: 0.125rem solid rgba(61, 134, 128, 0.315);
    border-radius: 3%;
    background-color: #a295cf;
}

.history-list img{
    justify-self: space-around;
    border: 0.125rem solid #444446;
    border-radius: 1.563rem;
    width: 70%;
}

.history-list #name {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;   
}

.chat-module {
    grid-area: header2;
    display: grid;   
    height: 100%;
    width: 100%;
    align-self: flex-start;
    grid-template-columns: 56.25rem;
    background-image: url(chat-back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0.063rem solid rgba(61, 134, 128, 0.315);
    border-radius: 3%;
}

.chat-module-info {
    grid-area: header3;
    display: grid;
    border: 0.125rem solid rgba(61, 134, 128, 0.315);
    border-radius: 1%;
    height: 100%;
    width: 100%;
    align-self: flex-start;
    grid-template-columns: 13.75rem;
    background-size: 100% 100%;
    padding-right: 2%;
}