<section class="auth-form" id="login-form">
    <h1 class="auth-title">{{title}}</h1>

    <input type="text" placeholder="Email" class="auth-input" [(ngModel)]="email" required />
    <input type="text" placeholder="Username" class="auth-input" [(ngModel)]="username" required />
    <input type="password" placeholder="Password" class="auth-input" [(ngModel)]="password" required />
    <input type="password" placeholder="Confirm password" class="auth-input" [(ngModel)]="confirmed_password" required />
   
    <section class="auth-actions">
        <button class="auth-button"
            (click)="registerUser(username, email, password, confirmed_password)">Register</button>
        <a routerLink="/login" title="Already have account" class="auth-link">Already have account</a>
    </section>

</section>