body {
  background-image: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  outline: none;
}
