* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  outline: none;
}

.auth {
  display: flex;
}

.auth-form {
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  max-width: 32rem;
  margin: auto;
  max-height: 90%;
  width: 90%;
}

#sign-up-container {
  flex-direction: column;
  display: flex;
}

.auth-title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.auth-title {
  text-align: center;
  background: -webkit-linear-gradient(right, #a2f2f1, #b19afe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  max-width: 100%;
}

.auth-input {
  border: none;
  border-bottom: 1px solid #4154e0;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 100%;
}

.auth-input:focus {
  border-color: #557de0;
  box-shadow: 0 1px 0 0 #557de0;
}

.auth-actions {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  max-width: 10rem;
}

.auth-button {
  background-color: #00bfd9;
  border: none;
  border-radius: 1.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  height: 2.375rem;
  width: 100%;
}

.auth-button:hover,
.auth-button:focus,
.auth-button:active {
  background-color: #0097c5;
}

.auth-link {
  font-size: 1rem;
  color: #4154e0;
  text-decoration: none;
  margin-top: 1.75rem;
}

.auth-link:hover,
.auth-link:focus {
  text-decoration: underline;
}

/**
POST PAGE
 */

.posts-page-header {
  font-size: 2.625rem;
  font-weight: 100;
}

.posts-header {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.125rem;
  height: 3.25rem;
}

.posts-search {
  width: 100%;
  max-width: 15rem;
  position: relative;
}

.post-section-input-container {
  flex: 1;
  margin-left: 1rem;
  position: relative;
}

.posts-search button,
.post-section-input-container button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 1rem;
}

.posts-search input,
.post-section-input-container input {
  width: 100%;
  padding: 1rem;
  padding-right: 2.5rem;
  height: 2rem;
  border-radius: 1rem;
}

.posts-search input {
  background-color: #f6f7fe;
  border: 1px solid #eaecfe;
}

.post-section-input-container button {
  color: #00bfd9;
}

.post-section-input-container input {
  border: 1px solid #eaecfe;
}

.post-section-input-container input::placeholder {
  font-size: 0.875rem;
  color: #00bfd9;
}

.container {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem auto;
  max-width: 55rem;
}

/**
PROFILE
 */
.profile {
  background-color: #fff;
  flex: 1;
  margin-right: 0.5rem;
  max-width: 18rem;
}

.profile-avatar {
  text-align: center;
  padding: 0.5rem;
}

.profile-image {
  border-radius: 50%;
  width: 5.25rem;
  height: 5.25rem;
}

.profile-name {
  font-size: 1.125rem;
  margin-top: 0.33rem;
  margin-bottom: 0.75rem;
}

.profile-details {
  background-color: #f6f7fe;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 3.75rem;
}

.profile-info {
  margin-right: 1rem;
  font-weight: 700;
}

.profile-info h3 {
  font-size: 0.75rem;
  color: #848694;
}

.profile-info p {
  font-size: 1.125rem;
  color: #00bfd9;
}

.profile-button {
  background-color: transparent;
  border: 1px solid #00bfd9;
  border-radius: 1.5rem;
  color: #00bfd9;
  font-weight: 700;
  cursor: pointer;
  margin-left: auto;
  padding: 0.5rem;
}

.profile-button:hover {
  background-color: #00bfd9;
  color: #fff;
}

/**
POSTS
 */
.posts {
  background-color: #fff;
  flex: 1;
}

.posts-section {
  font-size: 0.875rem;
}

.post-section-avatar {
  padding-top: 0;
}

.profile-avatar.post-section-avatar img {
  width: 2.5rem;
  height: 2.5rem;
}

.post-date {
  color: #848694;
}

.post-delimiter {
  color: #848694;
  font-size: 5px;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.post-text {
  color: #333333;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.post-footer {
  height: 2rem;
  display: flex;
  align-items: flex-end;
}

.profile-avatar.post-section-header-avatar {
  padding: 0;
}

.post-section-header-avatar img {
  width: 2rem;
  height: 2rem;
}

.post-section-avatar {
  width: 4rem;
}

.post-content {
  flex: 1;
}

.post-author {
  flex: 1;
  display: flex;
  align-items: center;
}

.post-close {
  color: #848694;
  background: none;
  border: none;
  cursor: pointer;
}

.dislike-container {
  margin-left: 3rem;
}

.post {
  min-height: 7rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  display: flex;
  padding-right: 1rem;
}

.pots-section-header {
  height: 3rem;
  padding: 0 2rem;
  background-color: #f2fcfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.post-message {
  background-color: #f2fcfd;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1.875rem;
  height: 4rem;
}

.post-reaction button {
  cursor: pointer;
  background: none;
  border: none;
}

.posts {
  list-style: none;
}

.post {
  display: flex;
}

.errors {
  color: red;
}

/* Loader from https://loading.io/css/ */
.lds-ripple {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 55.5rem) {
  .container {
    flex-direction: column;
    width: 90%;
    align-items: stretch;
  }

  .profile {
    margin-right: 0;
    max-width: 100%;
  }
}
