<section>
   
    <div class="chat-module">
        <div id="info-group">
            <h3>{{chat.name}}</h3>
            <input type="text" id="search-bar"  placeholder="Search" [(ngModel)]="searchMessage">
        </div>
        
        <div id="chatbox">
            <div *ngFor="let message of messageList">
                <ng-container *ngIf="message.text.includes(searchMessage)">
                    <li>{{ message.sender + " say: " + message.text }}</li>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="text-area">
        <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" name="usermsg" type="text"
            id="usermsg" />
        <input (click)="sendMessage()" name="submitmsg" type="submit" id="submitmsg" value="Send" />
    </div>
</section>